form{
  width: 40%;
  margin: auto;
  margin-top: 30px;
background-color: var(--white-color);
border-radius: 10px;
padding: 10px;
}

input{
  background-color: transparent;
  border: 1px solid var(--bright-blue);
  border-radius: 7px;
}
.group{
  margin-top: 10px;
}

button{
  background-color: var(--bright-blue);
  color: var(--white-color);
  font-weight: bold;
  width: 90%;
  margin:10px auto;
  text-align: center;
  display: block;
  padding: 15px;
  border-radius: 30px;

}

