.flex-item {
  display: flex;
  align-items: center;
  gap: 4px;
}

.wrapper-langaue{
  position: relative;
  border: 2px solid black;
  border-radius: 5px;
      width: 100%;
  button{
    width: 100%;
    font-weight: bold;
  }
}
