.flex-item {
  display: flex;
  align-items: center;
  gap: 4px;
}

.wrapper-langaue{
  position: relative;
  border: 2px solid #ccc;
  border-radius: 5px;
      width: 100%;
      transition: 0.3s linear;
      &:hover{
        background-color: var(--sky-blue);
        color: white;
      }
  button{
    width: 100%;
    font-weight: bold;
  }
}
