.flex-item {
  display: flex;
  align-items: center;
  gap: 4px;
}

.wrapper-langaue {
  position: relative;
  border: 1px solid var(--dark-blue);
  border-radius: 5px;
  width: 100%;
  transition: 0.3s linear;
  &:hover {
    background-color: var(--dark-blue);
  }
  button {
    width: 100%;
    color: var(--dark-blue);
    background-color: var(--light-gray);
    font-weight: bold;
  }
}
