
.background {
  text-align: center;
  padding: 10px;
  p{
    font-weight: bolder;
  }
}

input,textarea,select{
  border: 1px solid var(--teal-dark);
}
select{
  cursor: pointer;
}

.out-icon {
  position: absolute;
  right: 3px;
  top: 21px;
}


.Group-btn{
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.Sign-up{
   margin: 20px auto;
 background: linear-gradient(45deg,var(--mint),var(--sky-blue));
 color: white;
  position: relative;
  // @extend .upload-National;
  width: 50%;
   font-weight: bolder;
  margin:20px auto;
}
