<div class="register-wrapper">
  <form [formGroup]="Formregister()" (ngSubmit)="onSubmit()">
    <div class="background">
      <p>Create an Account For Doctor</p>
    </div>

    <div class="Group">
      <input formControlName="name" placeholder="{{'auth.namear'|translate}}" />
      <i class="fa-solid fa-user out-icon"></i>
      <div class="wrapper-error">
        <small
          class="error-message"
          *ngIf="getControlName('name')?.invalid && getControlName('name')?.touched"
          >{{"vaildtion.required"|translate}}</small
        >
      </div>
    </div>

    <div class="Group">
      <input formControlName="nameEn" placeholder="{{'auth.nameen'|translate}}" />
      <div class="wrapper-error">
        <small
          class="error-message"
          *ngIf="getControlName('nameEn')?.invalid && getControlName('nameEn')?.touched"
          >{{"vaildtion.required"|translate}}</small
        >
      </div>
    </div>

    <div class="Group">
    <p-select
        formControlName="gender"
        [options]="dataGender()"
        optionLabel="name"
        optionValue="id"
        placeholder="{{'auth.gender'|translate}}"
      />
      <div class="wrapper-error">
        <small
          class="error-message"
          *ngIf="getControlName('gender')?.invalid && getControlName('gender')?.touched"
          >{{"vaildtion.required"|translate}}</small
        >
      </div>
    </div>

    <div class="Group" (click)="dateOfBirth.showOverlay()">
      <p-datepicker
        #dateOfBirth
        formControlName="dateOfBirth"
       placeholder="{{'auth.dateofbirth'|translate}}"
        dateFormat="dd.mm.yy"
        dataType="date"
        style="width: 100%"
        appendTo="body"
        [showOnFocus]="false"
      >
      </p-datepicker>
      <div class="wrapper-error">
        <small
          class="error-message"
          *ngIf="getControlName('dateOfBirth')?.invalid && getControlName('dateOfBirth')?.touched"
          >{{"vaildtion.required"|translate}}</small
        >
      </div>
    </div>

    <div class="Group">
      <textarea formControlName="notes" placeholder="{{'auth.notes'|translate}}"></textarea>
    </div>

    <div class="Group">
      <app-telphone-input (phoneNumber)="phoneNumber($event)"></app-telphone-input>
      <div>
        <small
          class="error-message"
          *ngIf="getControlName('phone')?.invalid && getControlName('phone')?.touched"
          >{{"vaildtion.required"|translate}}
        </small>
      </div>
    </div>

    <div class="Group">
      <input type="email" formControlName="email" placeholder="{{'auth.email'|translate}}"/>
      <i class="fa-solid fa-envelope out-icon"></i>
      <div class="wrapper-error">
        <small
          class="error-message"
          *ngIf="getControlName('email')?.invalid && getControlName('email')?.touched &&!getControlName('email')?.errors?.['pattern']"
          >{{"vaildtion.required"|translate}}</small
        >

        <small
          class="error-message"
          *ngIf="getControlName('email')?.errors?.['pattern'] && getControlName('email')?.touched"
          >{{"vaildtion.email"|translate}}</small
        >
      </div>
    </div>

    <div class="Group">
      <input maxlength="7" formControlName="userName" placeholder="{{'auth.username'|translate}}" />
      <div class="wrapper-error">
        <small
          class="error-message"
          *ngIf="
            getControlName('userName')?.invalid &&
            getControlName('userName')?.touched &&
            !getControlName('userName')?.hasError('exists')
          "
          >{{"vaildtion.required"|translate}}
        </small>

        <small class="error-message" *ngIf="getControlName('userName')?.hasError('exists')">
          {{"vaildtion.exsistName"|translate}}
        </small>

        <small
          class="error-message"
          *ngIf="getControlName('userName')?.errors?.['pattern'] && getControlName('userName')?.touched"
        >{{"vaildtion.patternUserName"|translate}}
        </small>
      </div>
    </div>

    <div class="Group">
      <input
        maxlength="9"
        formControlName="password"
        placeholder="{{'auth.password'|translate}}"
        type="password"
      />
      <i class="fa-solid fa-lock out-icon"></i>
      <div class="wrapper-error">
        <small
          class="error-message"
          *ngIf="getControlName('password')?.invalid && getControlName('password')?.touched"
          >{{"vaildtion.required"|translate}}</small
        >

        <ul class="password-rules" *ngIf="getControlName('password')?.touched">
          <li [class.valid]="passwordChecks.hasUpperCase">
          • {{ 'vaildtion.vaildtionPassword.hasUpperCase' | translate }}
          </li>
          <li [class.valid]="passwordChecks.hasLowerCase">
           • {{ 'vaildtion.vaildtionPassword.hasLowerCase' | translate }}
          </li>
          <li [class.valid]="passwordChecks.hasNumber">• {{ 'vaildtion.vaildtionPassword.hasNumber' | translate }}</li>
          <li [class.valid]="passwordChecks.hasSpecialChar">
            • {{ 'vaildtion.vaildtionPassword.hasSpecialChar' | translate }}
          </li>
          <li [class.valid]="passwordChecks.hasMinLength">• {{ 'vaildtion.vaildtionPassword.hasMinLength' | translate }}</li>
        </ul>
      </div>
    </div>

    <div class="Group">
      <input
        formControlName="confirmPassword"
        placeholder="{{'auth.confirmpassword'|translate}}"
        type="password"
      />
      <i class="fa-solid fa-lock out-icon"></i>
      <div class="wrapper-error">
        <small
          class="error-message"
          *ngIf="
            getControlName('confirmPassword')?.invalid && getControlName('confirmPassword')?.touched
          "
          >{{"vaildtion.required"|translate}}</small
        >

        <small
          *ngIf="Formregister().hasError('misMatch') && getControlName('confirmPassword')?.touched"
          class="error-message"
          >this the Password Dont Match</small
        >
      </div>
    </div>

    <div class="Group">
      <input formControlName="nationalId" placeholder="{{'auth.nationalId'|translate}}" type="text" />
      <div class="wrapper-error">
        <small
          class="error-message"
          *ngIf="getControlName('nationalId')?.invalid && getControlName('nationalId')?.touched"
          >{{"vaildtion.required"|translate}}</small
        >
      </div>
    </div>

    <div class="Group">
      <p-select
        formControlName="specializationTypeId"
        [options]="dataSpecializationType()"
        optionLabel="name"
        optionValue="id"
        placeholder="{{'auth.specialization'|translate}}"
      />
      <div class="wrapper-error">
        <small
          class="error-message"
          *ngIf="
            getControlName('specializationTypeId')?.invalid &&
            getControlName('specializationTypeId')?.touched
          "
          >{{"vaildtion.required"|translate}}
        </small>
      </div>
    </div>

    <div class="Group">
      <div class="upload-group">
        <p>Upload This File Pdf</p>
        <label for="pdf-file"><i class="fa-solid fa-cloud-arrow-up"></i></label>
        <input
          accept="application/pdf"
          (change)="onFileSelected($event)"
          id="pdf-file"
          type="file"
        />
        <div class="pdf-preview" *ngIf="pdfUrl">
          <iframe [src]="pdfUrl" width="100%" height="400px"></iframe>
        </div>
      </div>
      <div>
        <small
          class="error-message"
          *ngIf="getControlName('Documents')?.invalid && getControlName('Documents')?.touched"
          >{{"vaildtion.required"|translate}}
        </small>
      </div>
    </div>

    <div class="Group-btn">
      <button class="Sign-up" type="submit">Sign Up</button>
    </div>
  </form>
</div>
