
.background {
  text-align: center;
  padding: 10px;
  p{
    font-weight: bolder;
  }
}

input,textarea,select{
  border: 1px solid var(--Steel-Gray);;
}
select{
  cursor: pointer;
}
.upload-group {
margin-top: 10px;
text-align: center;
border:3px dotted var(--sky-blue);
padding: 10px;
p{
  color: var(--sky-blue);
  padding: 10px 0;
}
label{
  cursor: pointer;
  text-align: center;
margin: auto;
  display: block;
  background: linear-gradient(45deg,var(--sky-blue),var(--mint));
  height: 50px;
  width: 50px;
  line-height: 35px;
  border-radius: 50%;
  padding: 10px;
  color: white;
  &:hover{
    opacity: 0.5;
  }
}
input[type="file"]{
  display: none;
}
.pdf-preview{
  margin-top: 10px;
}
}
.out-icon {
  position: absolute;
  right: 3px;
  top: 21px;
}


.Group-btn{
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.Sign-up{
   margin: 20px auto;
 color: white;
  position: relative;
  width: 50%;
   font-weight: bolder;
  margin:20px auto;
  background-color: var(--Pumpkin-Orange);
  border-radius: 24px;
  padding: 12px 16px;
}




.password-rules {
    list-style: none;
    margin: 8px 0 0;
    padding: 0;
    font-size: 13px;

    li {
      color: #e74c3c !important;
      margin-bottom: 4px;
      transition: 0.3s;

      &.valid {
        color: #2ecc71 !important;
      }
    }
  }
