.Login-wrapper {
  img {
    margin: auto;
    text-align: center;
    display: block;
  }
}

.flex-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  button {
    border: 1px solid var(--light-blue-gray);
    width: 100%;
    padding: 15px;
    transition: 0.3s linear;
    &:hover {
      background-color: var(--Pumpkin-Orange);
      color: white;
    }
  }
  button:first-child{
       background-color: var(--Pumpkin-Orange);
      color: white;
  }
}

.background {
  text-align: center;
  padding: 10px;
  p {
    font-weight: bolder;
  }
}

input,
textarea {
  border: 1px solid var(--Steel-Gray);
}

.out-icon {
  position: absolute;
  right: 3px;
  top: 30px;
  color: var(--color-gray);
}

.Group-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Sign-in {
  width: 40%;
  margin: 20px auto;
  color: white;
  font-weight: bolder;
  background-color: var(--Pumpkin-Orange);
  border-radius: 24px;
  padding: 12px 16px;
}

label {
  margin-bottom: 5px;
  display: inline-block;
}
