
.background {
  text-align: center;
  padding: 10px;
  p{
    font-weight: bolder;
  }
}

input,textarea{
  border: 1px solid var(--teal-dark);
}

.out-icon {
  position: absolute;
  right: 3px;
  top: 21px;
  color: var(--color-gray);
}


.Group-btn{
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.Sign-in{
     width: 40%;
   margin: 20px auto;
 background: linear-gradient(45deg,var(--mint),var(--sky-blue));
 color: white;
 font-weight: bolder;
}
