<div class="register-wrapper">
  <form [formGroup]="FormLogin()" (ngSubmit)="onSubmit()">
    <div class="background">
      <p>Exsist Login</p>
    </div>

    <div class="Group">
      <input formControlName="userName" placeholder="Enter Your userName" />
      <i class="fa-solid fa-user out-icon"></i>
      <div class="wrapper-error">
        <small class="error-message" *ngIf="getControlName('userName')?.invalid&&getControlName('userName')?.touched">This Field Is Requierd</small>
      </div>
    </div>

    <div class="Group">
      <input formControlName="password" placeholder="Enter Your password" />
      <i class="fa-solid fa-lock out-icon"></i>
      <div class="wrapper-error">
        <small class="error-message" *ngIf="getControlName('password')?.invalid&&getControlName('password')?.touched">This Field Is Requierd</small>
      </div>
    </div>



    <div class="Group-btn">
      <button class="Sign-in" type="submit">
         Sign In
        </button>
    </div>
  </form>
</div>


