.Login-wrapper{
  img{
    margin: auto;
    text-align: center;
    display: block;
  }
}
.background {
  text-align: center;
  padding: 10px;
  p{
    font-weight: bolder;
  }
}

input,textarea{
      border: 1px solid var(--Steel-Gray);
}

.out-icon {
  position: absolute;
  right: 3px;
  top: 21px;
  color: var(--color-gray);
}


.Group-btn{
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.Sign-in{
     width: 40%;
   margin: 20px auto;
 color: white;
 font-weight: bolder;
   background-color: var(--Pumpkin-Orange);
  border-radius: 24px;
  padding: 12px 16px;
}



