.Wrapper-header {
  position: sticky;
  top: 0;
  z-index: 3;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid var(--bright-blue);
  width: 95%;
  padding: 13.5px;
  border-radius: 12px;
  margin: 10px auto;


  .logo-clinxa {
    display: flex;
    align-items: center;
    gap: 20px;
    img {
      border-radius: 10px;
    }

    .action-user {
      display: flex;
      align-items: center;
      gap: 5px;
      .fa-bars {
        visibility: hidden;
        background-color: var(--dark-blue);
        color: white;
        font-weight: bold;
        border-radius: 5px;
        height: 35px;
        width: 35px;
        line-height: 35px;
        text-align: center;
      }
    }
  }

  .links-header {
    ul {
      display: flex;
      align-items: center;
      gap: 20px;
      color: var(--royal-blue);
      font-weight: 500;
      font-size: 16px;
      li {
        cursor: pointer;
        padding: 10px;
        border-radius: 5px;
        transition: 0.3s linear;
        &:hover {
          background-color: var(--royal-blue);
          color: white;
        }
      }
    }
  }
.active{
  background-color: var(--royal-blue);
          color: white;}
  .auth-user {
    display: flex;
    align-items: center;
    gap: 20px;
    .fa-bell {
      color: var(--vivid-green);
      font-size: 25px;
    }
    .bell-icon {
      position: relative;
    }
    .bell-icon::before {
      content: '';
      position: absolute;
      height: 10px;
      width: 10px;
      right: 3px;
      z-index: 999999;
      background-color: var(--bright-gold);
      border-radius: 50%;
      top: -4px;
    }
    .fa-user {
      font-size: 25px;
      height: 30px;
      width: 40px;
      color: var(--medium-dark-blue);
      border: 3px solid var(--medium-dark-blue);
      border-radius: 50%;
    }

    .btn-auth {
      width: 100%;
      display: flex;
      button {
        width: 7rem;
      }
    }

    button:first-child {
      border: 1px solid var(--dark-blue);
      color: var(--royal-blue);
      margin-right: 10px;
    }
    button:last-child {
      background-color: var(--medium-dark-blue);
      color: white;
    }
  }
}

.hight-auto {
  max-height: 100vh !important;
  transition: max-height 0.5s ease-in-out !important;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .Wrapper-header {
    flex-direction: column;
    gap: 20px;
    max-height: 100px;
    transition: max-height 0.5s ease-in-out;

    padding: 10px;
    overflow: hidden;
  }

  .logo-clinxa {
    order: 1;
    justify-content: space-between;
    width: 100%;
      .action-user {
        .fa-bars {
          visibility: visible !important;
        }
      }
  }
  .auth-user {
    order: 3;
    justify-content: space-between;
    width: 100%;

    .btn-auth {
      width: 100%;
      display: flex;
      button {
        width: 100% !important;
      }
    }
  }

  .links-header {
    order: 2;
    ul {
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
    }
  }
  button {
    margin: 10px 0;
  }
}
