<app-header></app-header>
<main class="wrapper-main">
  <div class="position-relative">
    <img
      src="assets/Img/shutterstock_582888679.webp"
      fetchpriority="high"
      alt="Main doctor consultation"
      width="1200"
      height="800"
    />
    <div>
      <div class="exsist-Acount-doctor">
        <p>
          If you are a doctor, register with us.
          <button><i class="fa-solid fa-arrow-right"></i></button>
        </p>
      </div>
      <p class="clip-path"></p>
    </div>

    <div class="input-search">
      <input type="text" placeholder="Search for a doctor" />
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
  </div>

  <div class="icon-doctor">
    @for (tool of toolDoctor(); track tool.text) {
    <div>
      <i [class]="tool.icon"></i>
      <p>{{ tool.text }}</p>
    </div>
    }
  </div>

  <div class="wrapper-doctor">
    <div class="card-doctor">
      <img src="assets/Img/Doctor.webp" />
      <div class="feadback-doctor">
        <h3>Dr.mona</h3>
        <p><i class="fa-solid fa-star"></i><span>4.6\5</span></p>
      </div>
      <div>
        <span>Internal Medicine</span>
        <p><i class="fa-solid fa-calendar-week"></i> Joined Apr 21,2024</p>
        <p><i class="fa-solid fa-location-dot"></i> Giza</p>
        <p><i class="fa-solid fa-clock"></i>9:30 AM-11 PM</p>
      </div>
      <div class="requierment-doctor">
        <p>price <span>300</span> Eng</p>
        <button>Booking Now</button>
      </div>
    </div>
     <div class="card-doctor">
      <img src="assets/Img/Doctor.webp" />
      <div class="feadback-doctor">
        <h3>Dr.mona</h3>
        <p><i class="fa-solid fa-star"></i><span>4.6\5</span></p>
      </div>
      <div>
        <span>Internal Medicine</span>
        <p><i class="fa-solid fa-calendar-week"></i> Joined Apr 21,2024</p>
        <p><i class="fa-solid fa-location-dot"></i> Giza</p>
        <p><i class="fa-solid fa-clock"></i>9:30 AM-11 PM</p>
      </div>
      <div class="requierment-doctor">
        <p>price <span>300</span> Eng</p>
        <button>Booking Now</button>
      </div>
    </div>
     <div class="card-doctor">
      <img src="assets/Img/Doctor.webp" />
      <div class="feadback-doctor">
        <h3>Dr.mona</h3>
        <p><i class="fa-solid fa-star"></i><span>4.6\5</span></p>
      </div>
      <div>
        <span>Internal Medicine</span>
        <p><i class="fa-solid fa-calendar-week"></i> Joined Apr 21,2024</p>
        <p><i class="fa-solid fa-location-dot"></i> Giza</p>
        <p><i class="fa-solid fa-clock"></i>9:30 AM-11 PM</p>
      </div>
      <div class="requierment-doctor">
        <p>price <span>300</span> Eng</p>
        <button>Booking Now</button>
      </div>
    </div>
     <div class="card-doctor">
      <img src="assets/Img/Doctor.webp" />
      <div class="feadback-doctor">
        <h3>Dr.mona</h3>
        <p><i class="fa-solid fa-star"></i><span>4.6\5</span></p>
      </div>
      <div>
        <span>Internal Medicine</span>
        <p><i class="fa-solid fa-calendar-week"></i> Joined Apr 21,2024</p>
        <p><i class="fa-solid fa-location-dot"></i> Giza</p>
        <p><i class="fa-solid fa-clock"></i>9:30 AM-11 PM</p>
      </div>
      <div class="requierment-doctor">
        <p>price <span>300</span> Eng</p>
        <button>Booking Now</button>
      </div>
    </div>
     <div class="card-doctor">
      <img src="assets/Img/Doctor.webp" />
      <div class="feadback-doctor">
        <h3>Dr.mona</h3>
        <p><i class="fa-solid fa-star"></i><span>4.6\5</span></p>
      </div>
      <div>
        <span>Internal Medicine</span>
        <p><i class="fa-solid fa-calendar-week"></i> Joined Apr 21,2024</p>
        <p><i class="fa-solid fa-location-dot"></i> Giza</p>
        <p><i class="fa-solid fa-clock"></i>9:30 AM-11 PM</p>
      </div>
      <div class="requierment-doctor">
        <p>price <span>300</span> Eng</p>
        <button>Booking Now</button>
      </div>
    </div>
     <div class="card-doctor">
      <img src="assets/Img/Doctor.webp" />
      <div class="feadback-doctor">
        <h3>Dr.mona</h3>
        <p><i class="fa-solid fa-star"></i><span>4.6\5</span></p>
      </div>
      <div>
        <span>Internal Medicine</span>
        <p><i class="fa-solid fa-calendar-week"></i> Joined Apr 21,2024</p>
        <p><i class="fa-solid fa-location-dot"></i> Giza</p>
        <p><i class="fa-solid fa-clock"></i>9:30 AM-11 PM</p>
      </div>
      <div class="requierment-doctor">
        <p>price <span>300</span> Eng</p>
        <button>Booking Now</button>
      </div>
    </div>
     <div class="card-doctor">
      <img src="assets/Img/Doctor.webp" />
      <div class="feadback-doctor">
        <h3>Dr.mona</h3>
        <p><i class="fa-solid fa-star"></i><span>4.6\5</span></p>
      </div>
      <div>
        <span>Internal Medicine</span>
        <p><i class="fa-solid fa-calendar-week"></i> Joined Apr 21,2024</p>
        <p><i class="fa-solid fa-location-dot"></i> Giza</p>
        <p><i class="fa-solid fa-clock"></i>9:30 AM-11 PM</p>
      </div>
      <div class="requierment-doctor">
        <p>price <span>300</span> Eng</p>
        <button>Booking Now</button>
      </div>
    </div>
     <div class="card-doctor">
      <img src="assets/Img/Doctor.webp" />
      <div class="feadback-doctor">
        <h3>Dr.mona</h3>
        <p><i class="fa-solid fa-star"></i><span>4.6\5</span></p>
      </div>
      <div>
        <span>Internal Medicine</span>
        <p><i class="fa-solid fa-calendar-week"></i> Joined Apr 21,2024</p>
        <p><i class="fa-solid fa-location-dot"></i> Giza</p>
        <p><i class="fa-solid fa-clock"></i>9:30 AM-11 PM</p>
      </div>
      <div class="requierment-doctor">
        <p>price <span>300</span> Eng</p>
        <button>Booking Now</button>
      </div>
    </div>

  </div>
</main>

<app-footer></app-footer>
