<app-header></app-header>
<main class="wrapper-main">
  <div class="position-relative">
    <img loading="lazy" src="assets/Img/shutterstock_582888679.webp" alt="" />
  </div>

  <div class="icon-doctor">
    @for (tool of toolDoctor(); track tool.text) {
    <div>
      <i [class]="tool.icon"></i>
      <p>{{ tool.text }}</p>
    </div>
    }
  </div>

  <div class="filter-doctor">
    <button>Cardiology</button>
    <button>Internal</button>
    <button>Dental</button>
    <button>Surgery</button>
  </div>

  <div class="search-doctor">
    <div>
      <input placeholder="Search-Doctor" />
      <i class="fa-solid fa-magnifying-glass-plus"></i>
    </div>
  </div>

  <div class="wraper-doctor">
    <div>
      <img
        alt="Smiling female doctor wearing a white coat"
        src="assets/Img/portrait-beautiful-young-girl-doctor-white-coat-she-looks-friendly-smiles-white-background_810738-1050.jpg"
      />

      <p>Dr. Mona</p>
      <p>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </p>
      <button>View Doctor</button>
    </div>
    <div>
      <img
        alt="Smiling female doctor wearing a white coat"
        src="assets/Img/portrait-beautiful-young-girl-doctor-white-coat-she-looks-friendly-smiles-white-background_810738-1050.jpg"
      />
      <p>Dr. Mona</p>
      <p>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </p>
      <button>View Doctor</button>
    </div>
    <div>
      <img
        alt="Smiling female doctor wearing a white coat"
        src="assets/Img/portrait-beautiful-young-girl-doctor-white-coat-she-looks-friendly-smiles-white-background_810738-1050.jpg"
      />
      <p>Dr. Mona</p>
      <p>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </p>
      <button>View Doctor</button>
    </div>

    <div>
      <img
        alt="Smiling female doctor wearing a white coat"
        src="assets/Img/portrait-beautiful-young-girl-doctor-white-coat-she-looks-friendly-smiles-white-background_810738-1050.jpg"
      />
      <p>Dr. Mona</p>
      <p>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </p>
      <button>View Doctor</button>
    </div>

    <div>
      <img
        alt="Smiling female doctor wearing a white coat"
        src="assets/Img/portrait-beautiful-young-girl-doctor-white-coat-she-looks-friendly-smiles-white-background_810738-1050.jpg"
      />
      <p>Dr. Mona</p>
      <p>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </p>
      <button>View Doctor</button>
    </div>
    <div>
      <img
        alt="Smiling female doctor wearing a white coat"
        src="assets/Img/portrait-beautiful-young-girl-doctor-white-coat-she-looks-friendly-smiles-white-background_810738-1050.jpg"
      />
      <p>Dr. Mona</p>
      <p>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </p>
      <button>View Doctor</button>
    </div>
    <div>
      <img
        alt="Smiling female doctor wearing a white coat"
        src="assets/Img/portrait-beautiful-young-girl-doctor-white-coat-she-looks-friendly-smiles-white-background_810738-1050.jpg"
      />
      <p>Dr. Mona</p>
      <p>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </p>
      <button>View Doctor</button>
    </div>
    <div>
      <img
        alt="Smiling female doctor wearing a white coat"
        src="assets/Img/portrait-beautiful-young-girl-doctor-white-coat-she-looks-friendly-smiles-white-background_810738-1050.jpg"
      />
      <p>Dr. Mona</p>
      <p>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </p>
      <button>View Doctor</button>
    </div>
  </div>
</main>

<app-footer></app-footer>
