<app-header></app-header>
<div class="wrapper-main">
  <div class="position-relative">
    <img src="assets/Img/shutterstock_582888679.png" alt="" />

    <div class="speachfication-doctor">
      <div class="contact-doctor">
        <div>
          <p>أحجز دكتور</p>
            <i class="fa-solid fa-user-doctor"></i>
        </div>

        <div>
          <p>مكالمة دكتور</p>
            <i class="fa-solid fa-headset"></i>
        </div>
      </div>

      <div>
        <button><i class="fa-solid fa-magnifying-glass-plus"></i>Search</button>
        <input placeholder="أختار التخصص" />
        <input placeholder="أختار المحافظة" />
        <input placeholder="أختار المنطقة" />
        <input placeholder="أختار الدكتور أو المستشفي" />
      </div>
    </div>
  </div>

  <div class="icon-doctor">
    @for (tool of toolDoctor(); track tool.text) {
    <div>
      <i [class]="tool.icon"></i>
      <p>{{ tool.text }}</p>
    </div>
    }
  </div>

  <div class="filter-doctor">
    <button>Cardiology</button>
    <button>Internal</button>
    <button>Dental</button>
    <button>Surgery</button>
  </div>

  <div class="search-doctor">
    <div>
      <input placeholder="Search-Doctor" />
      <i class="fa-solid fa-magnifying-glass-plus"></i>
    </div>
  </div>

  <div class="wraper-doctor">
    <div>
      <img
        src="assets/Img/portrait-beautiful-young-girl-doctor-white-coat-she-looks-friendly-smiles-white-background_810738-1050.jpg"
      />
      <p>Dr. Mona</p>
      <p>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </p>
      <button>View Doctor</button>
    </div>
    <div>
      <img
        src="assets/Img/portrait-beautiful-young-girl-doctor-white-coat-she-looks-friendly-smiles-white-background_810738-1050.jpg"
      />
      <p>Dr. Mona</p>
      <p>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </p>
      <button>View Doctor</button>
    </div>
    <div>
      <img
        src="assets/Img/portrait-beautiful-young-girl-doctor-white-coat-she-looks-friendly-smiles-white-background_810738-1050.jpg"
      />
      <p>Dr. Mona</p>
      <p>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </p>
      <button>View Doctor</button>
    </div>

    <div>
      <img
        src="assets/Img/portrait-beautiful-young-girl-doctor-white-coat-she-looks-friendly-smiles-white-background_810738-1050.jpg"
      />
      <p>Dr. Mona</p>
      <p>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </p>
      <button>View Doctor</button>
    </div>

    <div>
      <img
        src="assets/Img/portrait-beautiful-young-girl-doctor-white-coat-she-looks-friendly-smiles-white-background_810738-1050.jpg"
      />
      <p>Dr. Mona</p>
      <p>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </p>
      <button>View Doctor</button>
    </div>
    <div>
      <img
        src="assets/Img/portrait-beautiful-young-girl-doctor-white-coat-she-looks-friendly-smiles-white-background_810738-1050.jpg"
      />
      <p>Dr. Mona</p>
      <p>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </p>
      <button>View Doctor</button>
    </div>
    <div>
      <img
        src="assets/Img/portrait-beautiful-young-girl-doctor-white-coat-she-looks-friendly-smiles-white-background_810738-1050.jpg"
      />
      <p>Dr. Mona</p>
      <p>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </p>
      <button>View Doctor</button>
    </div>
    <div>
      <img
        src="assets/Img/portrait-beautiful-young-girl-doctor-white-coat-she-looks-friendly-smiles-white-background_810738-1050.jpg"
      />
      <p>Dr. Mona</p>
      <p>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </p>
      <button>View Doctor</button>
    </div>
  </div>
</div>



<p-button label="Check" />

<!-- <app-footer></app-footer> -->
