.wrapper-main {
  position: relative;
  img {
    position: relative;
    width: 100%;
    height: 500px;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 70px;
    top: 350px;
    left: 0;
    right: 0;
    height: 150px;
    width: 100%;
    z-index: 1;
    background: linear-gradient(to top, rgb(235, 231, 231), transparent);
  }
}
.position-relative {
  position: relative;
}

.exsist-Acount-doctor {
  position: absolute;
  top: 50%;
  left: 4%;
  width: 24%;
  padding: 15px;
  font-weight: 500;
  font-size: 24px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
  border: 1px solid var(--smoke-white);
  background-color: var(--deep-navy);
  color: var(--smoke-white);
  .fa-arrow-right {
    color: var(--warm-orange);
    font-size: 20px;
    font-weight: bold;
  }
}

.clip-path {
  position: absolute;
  top: 69.9%;
  left: 3.4%;
  width: 7%;
  height: 100px;
  background-color: var(--smoke-white);
  clip-path: polygon(43% 1%, 0 32%, 1% 1%);
  transform: rotate(370deg);
  color: transparent;
  z-index: 1;
  &::before {
    content: '';
    position: absolute;
    inset: -4px;
    top: 1px;
    left: 2px;
    right: 5px;
    bottom: 20px;
    background-color: var(--deep-navy);
    clip-path: polygon(43% 1%, 0 32%, 1% 1%);

    z-index: -1;
  }
}
.input-search {
  width: 30%;
  position: absolute;
  top: 70%;
  left: 50%;
  z-index: 4;
  transform: translateX(-50%);
  input {
    border-radius: 26px;
    border: 1px solid var(--Royal-Wave);
    background-color: var(--Misty-Sky);
    padding: 12px 20px;
  }
  ::placeholder {
    color: var(--Royal-Wave);
    font-weight: bold;
  }

  .fa-magnifying-glass {
    position: absolute;
    right: 10px;
    top: 25px;
    color: var(--Royal-Wave);
  }
}

.icon-doctor {
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 0 0;
  top: -66px;
  z-index: 2;
  position: relative;
  p {
    text-align: center;
    margin: 10px auto;
    font-weight: bold;
  }
  i {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 28px;
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    }
  }

  .fa-heart-pulse {
    background-color: var(--Crimson-Pulse);
    color: var(--Mint-Whisper);
  }

  .fa-brain {
    background-color: var(--Rose-Pop);
    color: var(--Mint-Whisper);
  }

  .fa-tooth {
    background-color: var(--Ocean-Wave);
    color: var(--Mint-Whisper);
  }

  .fa-lungs {
    background-color: var(--Aqua-Breeze);
    color: var(--Mint-Whisper);
  }

  .fa-briefcase-medical {
    background-color: var(--Fresh-Green);
    color: var(--Mint-Whisper);
  }

  .fa-flask {
    background-color: var(--Golden-Sun);
    color: var(--Mint-Whisper);
  }

  .fa-hospital {
    background-color: var(--warm-orange);
    color: var(--Mint-Whisper);
  }

  .fa-stethoscope {
    background-color: var(--Mint-Wave);
    color: var(--Mint-Whisper);
  }
}

.wrapper-doctor {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  padding: 20px;
  gap: 20px;
  .card-doctor {
    padding: 10px;
    background-color: var(--smoke-white);
    border-radius: 14px;
    img {
      height: 276.49px;
      border-radius: 8px;
    }
    h3 {
      margin-bottom: 5px;
    }
    p {
      color: var(--tone-Gray);
      margin-top: 7px;
      font-size: 12px;
    }
    .fa-star {
      color: var(--bright-gold);
    }
    .requierment-doctor {
      display: flex;
      align-items: center;
      justify-content: space-between;
      p{
        margin-left: 4px;
      }
      span {
        color: var(--royal-blue);
        font-weight: 500;
      }
      button {
        background-color: var(--Pumpkin-Orange);
        border-radius: 18px;
        color: var(--smoke-white);
        font-weight: 500;
      }
    }
  }
  .feadback-doctor {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .clip-path {
    display: none;
  }

  .exsist-Acount-doctor,
  .input-search {
    width: 90%;
    font-size: 17px;
  }
}

@media (min-width: 767px) and (max-width: 1200px) {
  .clip-path {
    display: none;
  }
  .exsist-Acount-doctor,
  .input-search {
    width: 40%;
    font-size: 17px;
  }
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .clip-path {
    top: 69.7%;
    left: 3.2%;
  }
}
