.wrapper-otp {
  width: 100%;
  height: 100vh;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(43deg, var(--color-primary-green), var(--color-primary-teal));
  p {
    margin: 0;
    color: #333;
    font-size: 16px;
  }
}
.content-otp {
  background-color: white;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
  padding: 50px 20px;
  border-radius: 10px;
  background-color: white;
h3{
  font-weight: bolder;
  padding: 20px 0;
}
  button {
    background-color: var(--color-btn-primary);
    color: white;
    margin-top: 30px;
    width: 100%;
    border: 1px solid white;
    font-weight: bold;
    font-size: 20px;
  }
}
.fa-lock {
  font-size: 30px;
  font-weight: bold;
  background: linear-gradient(43deg, var(--color-primary-green), var(--color-primary-teal));
  height: 60px;
  width: 60px;
  border-radius: 60%;
  line-height: 60px;
  color: white;
  // padding: 10px;
}
