<div class="flex-center">
  <h5>Email OTP</h5>
  <div>
    <p class="header-otp">Your One-Time Password (OTP) is:</p>
    <div class="otp-number">
      <p>
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <span>4</span>
        <span>5</span>
        <span>6</span>
      </p>
    </div>
    <p class="desc-otp">
      Please use this OTP to complete your login process. Do not share this code with anyone
    </p>
  </div>
  <div class="footer-otp">
    <p><a routerLink="/auth/login">This Domin</a><span>All rights reseved</span></p>
  </div>
</div>
