* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif;
  font-display: swap;
}

body {
  position: relative !important;
  background-color: var(--light-blue-gray);
}

:root {
  --light-blue-gray: #e0e5f3;
  --bright-blue: #5784f5;
  --dark-blue: #5784f8;
  --light-gray: #e1e7ef;
  --royal-blue: #1a4bc8;
  --vivid-green: #00bb09;
  --bright-gold: #ffb502;
  --medium-dark-blue: #3f60b4;
  --smoke-white: #f2f2f2;
  --royal-blue-transparent: #1a4bc896;
  --midnight-sky: #061640a1;
  --sky-gray: #e0e5f3;
  --warm-orange: #ffa726;
  --deep-navy: #162f5a;
  --Royal-Wave: #2567b1;
  --Misty-Sky: #e0e5f3c7;
  --Crimson-Pulse: #e53935;
  --Rose-Pop: #ec407a;
  --Ocean-Wave: #42a5f5;
  --Aqua-Breeze: #26c6da;
  --Fresh-Green: #66bb6a;
  --Golden-Sun: #fdd835;
  --Mint-Wave: #00bfa5;
  --Mint-Whisper: #effefa;
  --tone-Gray: #908c8c;
  --Pumpkin-Orange: #f47229;
  --Steel-Gray: #7b7f88;
  --white-soft: #fefefe;
}

.Group {
  position: relative;
  margin-top: 15px;
}

input,
textarea,
select,
.p-select {
  width: 100%;
  padding: 10px;
  outline: none;
  border: 0;
  border-radius: 7px;
}

.p-select {
  padding: 0;
}

li {
  list-style: none;
}

button {
  border: 0;
  background-color: transparent;
  padding: 10px;
  border-radius: 5px;
  &:hover {
    opacity: 0.7;
  }
}

.error-message {
  color: red;
  text-align: center;
  font-weight: bold;
}
.requierd{
  color: red;
  font-weight: bold;
}

.p-overlay-mask-enter {
  z-index: 4 !important;
}

.p-dialog-header{
  padding: 0 !important;
}
