.flex-item {
  position: relative;
  display: flex;
    border: 1px solid var(--Steel-Gray);
  align-items: center;
  border-radius: 5px;
  margin: 10px 0;
  div:first-child {
    padding: 0 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  div:last-child {
    border-left: 1px solid var(--Steel-Gray);
    width: 100%;
    input {
      width: 100%;
      height: 100%;
      margin-top: 0;
    }
  }
}

.dropdown-counter {
  overflow: hidden;
  position: absolute;
  width: 100%;
  border: 1px solid var(--teal-dark);
  border-radius: 10px;
  background-color: white;
  top: 50px;
  height: 200px;
  overflow: auto;
  z-index: 1111111111111;
  div {
      border: 1px solid var(--Steel-Gray);;
    margin: 10px;
    border-radius: 5px;
    input {
      width: 100%;
    }
    i {
      position: absolute;
      right: 13px;
    }
  }
  ul {
    padding: 0;
    margin: 0;
    li {
      padding: 10px 0;
      cursor: pointer;
      padding: 10px;
      &:hover {
        background-color: #eee;
      }
    }
  }
}

  button {
    display: flex;
    align-items: center;
    font-weight: bold;
    padding:2px;
    span{
      width: 100%;
      height: 100%;
    }
}
