.footer-wave-wrapper {
  position: relative;
  width: 100%;
}

svg {
  display: block;
  width: 100%;
  height: 100px;
  margin: 0;
  padding: 0;
  border-bottom: none;
}

.wrapper-footer {
  background: #6685d2e5;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.3fr 0.3fr 0.3fr;
  padding: 0px 10px 10px;
  gap: 30px;
  align-items: center;
  color: black;
  > div:nth-child(1) {
    img {
      border-radius: 10px;
      width:250px;
      height: 100px;
    }
  }

  > div:nth-child(2) {
    p {
      font-size: 20px;
      font-weight: 500;
    }
  }

 > div:nth-child(6) {
    grid-column: 1 / -1;
    text-align: center;
    margin: 40px 0;

    p {
      font-size: 20px;
      font-weight: 500;
    }
  }



  h3 {
    font-weight:500;
    font-size: 20px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      margin-bottom: 8px;
      cursor: pointer;
      font-weight: 400;
      transition: opacity 0.3s;
      font-size: 14px;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  // للشاشات المتوسطة
  @media (max-width: 992px) {
    grid-template-columns: 1fr 1fr;

    > div:nth-child(1) {
      grid-column: 1 / 2;
    }

    > div:nth-child(2) {
      grid-column: 2 / 3;
    }

    > div:nth-child(3),
    > div:nth-child(4),
    > div:nth-child(5) {
      grid-column: span 1;
    }
  }

  // للشاشات الصغيرة
  @media (max-width: 768px) {
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    > div:nth-child(1),
    > div:nth-child(2) {
      grid-column: 1 / -1;
      text-align: center;
    }

    > div:nth-child(1) img {
      margin: 0 auto;
    }
  }

  // للموبايل
  @media (max-width: 480px) {
    grid-template-columns: 1fr;
    text-align: center;

    > div {
      grid-column: 1 / -1 !important;
    }
  }
}
